/* Reset */
html, body, ol, ul, li, h1, h2, h3, h4, h5, h6, p, button, input, input[type=password], input[type=search], textarea {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font: normal 16px/21px "Helvetica Neue", sans-serif;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none
}
textarea {
  display: block;
}
/* Structure */
.ios header {
  height: 44px;
  text-align: center;
}
.ios header h1 {
  font: bold 20px/43px sans-serif;
  overflow: hidden;
}
.ios header button {
  position: absolute;
  height: 28px;
  font: bold 10px/26px sans-serif;
  background-image: -webkit-linear-gradient(top,
    #8aa1bf 0,
    #5877a2 50%,
    #476999 51%,
    #4a679b 100%
    );
  border: 1px solid #2e4361;
  text-shadow: 0 -1px 0 #374351;
  color: #fff;
  box-shadow: 0 1px 0 #9cabc0, 0 1px 1px #788ba5;
  margin: 7px 5px;
  padding: 0 8px;
  border-radius: 4px;
  top: 0;
}
.ios header h1 + button {
  right: 0;
}
.ios header[data-position=fixed] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 44px;
  z-index: 1000;
}
.ios header[data-position=fixed] + * {
  margin-top: 63px;
}
.ios p {
  padding: 0 9px;
  margin: 0 10px 2px 10px;
  font-size: 15px;
  line-height: 20px;
}
.ios h2 {
  padding: 0 9px;
  margin: 19px 10px 0 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 100%;
}
.ios ul + h2 {
  margin-top: -2px!important;
}
.ios ul + p {
  margin-top: -16px;
}
.ios ul {
  margin: 11px 9px 21px 9px;
}
.ios ul li {
  padding: 0 10px;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ios ul li img {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  position: relative;
  margin: -3px 10px 0 -3px;
}
.ios ul li a {
  display: block;
  margin: 0 -10px;
  padding: 0 10px;
  padding-right: 20px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ios ul li span {
  float: right;
  font-weight: normal;
  margin-right: 3px;
}
.ios ul li input[type=checkbox] {
  background: #ccc;
  border-radius: 20px;
  width: 80px;
  float: right;
  height: 26px;
  position: relative;
  margin-top: 8px;
}
.ios ul[data-layout=fullscreen] {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  border: none;
  border-radius: 0;
}
.ios ul[data-layout=fullscreen] li {
  height: 43px;
  border-top: none;
}
/* Complex Lists */
.ios div[data-layout=complex] ul li {
  font: normal 15px/20px sans-serif;
  overflow: auto;
  white-space: normal;
  text-overflow: none;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ios div[data-layout=complex] ul li a,
.ios div[data-layout=complex] ul li span {
  background: none;
  float: none;
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.ios div[data-layout=complex] ul li a:after {
  display: none;
}
.ios li textarea {
  padding: 8px;
  margin: -10px;
  width: 464px;
}
.ios textarea[data-layout=notes] {
  width: 288px;
  margin: 0;
  padding: 16px;
}
.ios nav {
  display: -webkit-box;
  height: 44px;
}
.ios nav li {
  -webkit-box-flex: 1;
  padding: 8px;
  text-align: center;
  font-size: 10.5px;
}
.ios form[data-layout=button] {
  display: -webkit-box;
  margin: 11px 9px 21px 9px;
}
.ios form[data-layout=button] button {
  display: block;
  -webkit-box-flex: 1;
  padding: 0 10px;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  font-weight: bold;
  font-size: 17px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ios form[data-layout=shorttext] {
  display: -webkit-box;
  margin: 11px 9px 21px 9px;
}
.ios form[data-layout=shorttext] textarea {
  display: block;
  -webkit-box-flex: 1;
  padding: 8px 10px;
  min-height: 142px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ios form[data-layout=longtext] {
  display: -webkit-box;
  margin: 0 0 21px 0;
}
.ios form[data-layout=longtext] textarea {
  display: block;
  -webkit-box-flex: 1;
  padding: 19px;
  min-height: 164px;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ios h2 + form[data-layout=search],
.ios h2 + form[data-layout=longtext] {
  margin-top: 11px;
}
.ios form[data-layout=search] {
  display: -webkit-box;
  padding: 6px 5px;
}
.ios form[data-layout=search] input[type=search] {
  display: block;
  -webkit-box-flex: 1;
  height: 29px;
  line-height: 29px;
  border-radius: 29px;
  outline: none;
  padding: 0 11px;
}
.ios {
  background: #c5ccd4;
  color: #4c566c;
  text-rendering: optimizeLegibility;
}
.ios ul {
  border-radius: 10px;
  border: 1px solid #a1a7ad;
  background: #f7f7f7;
  color: #000;
  box-shadow: 0 1px 0 #f6f7f8, 0 1px 0 #d7d7d7 inset;
  overflow: hidden;
}
.ios ul li {
  border-top: 1px solid #fdfdfd;
  border-bottom: 1px solid #cacaca;
}
.ios ul li:first-child {
  border-top: none;
  padding-top: 1px;
}
.ios ul li:last-child {
  border-bottom: none;
}
.ios ul li span {
  color: #385487;
}
.ios ul li a {
  padding-right: 26px;
  padding-top: -1px;
  position: relative;
  color: #000;
}
.ios ul li a:after {
  content: " ";
  font-size: 1px;
  height: 6px;
  width: 6px;
  border-right: 3px solid #7b7b7b;
  border-top: 3px solid #7b7b7b;
  position: absolute;
  right: 16px;
  top: 17px;
  -webkit-transform: rotate(45deg);
}
/* TODO: Add proper Mouseover colors*/
.ios ul li a:hover {
  background-image: -webkit-linear-gradient(top,#058cf8,#015ee7);
  background-size: 100% 100%;
  color: #fff;
}
.ios ul li:first-child a {
  border-top-left-radius: 8px!important;
  border-top-right-radius: 8px!important;
}
.ios ul li:last-child a {
  border-bottom-left-radius: 8px!important;
  border-bottom-right-radius: 8px!important;
}
.ios ul li a:hover span,
.ios ul li a:hover:after {
  color: #fff;
  border-color: #fff;
}
.ios ul li label {
  color: #385487;
}
.ios ul li input[type=text],
.ios ul li input[type=password] {
  background: none;
  margin-left: 10px;
  outline: none;
}
.ios ul[data-layout=fullscreen] {
  background: #fff;
}
.ios header {
  height: 42px;
  line-height: 42px;
  background-image: -webkit-linear-gradient(top,
    #ccd2da 0,
    #b4bfce 1%,
    #889bb3 50%,
    #7e94b0 51%,
    #6d83a1 100%
    );
  border-bottom: 1px solid #2d3033;
  color: #fff;
}
.ios header h1 {
  text-shadow: 0 -1px 0px #48515c;
}
.ios h2,
.ios p {
  text-shadow: 0 1px 0 #fff;
}
.ios form[data-layout=button] button {
  border-radius: 10px;
  border: 1px solid #a1a7ad;
  background: #f7f7f7;
  color: #000;
  box-shadow: 0 1px 0 #f6f7f8, 0 1px 0 #d7d7d7 inset;
}
.ios form[data-layout=shorttext] textarea {
  border-radius: 10px;
  border: 1px solid #a1a7ad;
  background: #f7f7f7;
  color: #000;
  box-shadow: 0 1px 0 #f6f7f8, 0 1px 0 #d7d7d7 inset;
  outline: none;
}
.ios form[data-layout=longtext] textarea {
  border-radius: 0;
}
.ios form[data-layout=search] {
  background-image: -webkit-linear-gradient(top,#e3e9ed,#b3bec5);
  border-bottom: 1px solid #7a868e;
}
.ios form[data-layout=search] input[type=search] {
  border: 1px solid #7c8b9d;
  box-shadow: 0 1px 3px #9f9f9f inset;
}
